.root, .top, .mid, .bot {
    -fx-background-color: transparent;
}

#background {
    -fx-background-image: url("../assets/loader_bg.png");
}

#changeLog {
    -fx-background-image: url("../assets/changelog.png");
}